body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light{
    --bg-color:#f6f6f68a;
    --card-color: #000;
    --card-border-color: #b8b8b8;
    --btn-outline-su-color:#000;
    --nav-bg-color:#fff;
    --btn-bg-sec:#b5b5b50d;
    --btn-bg-sec-border:#ccc;
    --color:#000;
    --text-color:black;

}

/* .light h5{
    color: black;
} */

.dark{
    --bg-color:#282c34;
    --card-color: #fff;
    --card-border-color: #fff;
    --btn-outline-su-color:#fff;
    --nav-bg-color:#212529;
    --btn-bg-sec:#eeeeeebf;
    --btn-bg-sec-border:#eeeeeebf;
    --color:#000;
    --text-color:white;

}

.card {
    background-color: #fff0;
    color: var(--card-color);
    border-color: var(--card-border-color);
}

.btn-outline-success {
    color: var(--btn-outline-su-color);
}

.bg-custom{
    background-color: var(--nav-bg-color);
}

.timer-style{
    color: var(--card-color);
}

.btn-secondary{
    background-color: var(--btn-bg-sec);
    border-color: var(--btn-bg-sec-border);
    color: var(--color);
}

.btn-secondary:hover{
    background-color: var(--btn-bg-sec);
    border-color: var(--btn-bg-sec-border);
    color: var(--color);
}

.text-color-custom{
    color: var(--text-color);
}

